* {
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.one {
    background-color: #1f2937;
    flex-direction: column;
    width: auto;
    height: 600px;
    gap: 80px;
    padding: 10px;
}

.header {
    flex-direction: row;
    gap: 700px;
}

.logo {
    margin-top: 15px;
    margin-left: 50px;
    font-size: 24px;
    color: #f9faf8;
    flex-direction: row;
}

.link {
    margin-top: 15px;
    font-size: 18px;
    color: #e5e7eb;
    flex-direction: row;
    gap: 50px;
}

.mt {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    width: 200px;
    text-align: left;
}

.sign {
    background-color: #3882f6;
    border-radius: 10px;
    color: #e5e7eb;
    padding: 10px;
    width: 80px;
    height: 25px;
    text-align: center;
}

.img {
    border-radius: 10px;
    height: 280px;
    width: 280px;
    margin-right: 80px;
}

.texim {
    justify-content: center;
    flex-direction: row;
    gap: 600px;
}

.text {
    color: #e5e7eb;
}

.two{
    flex-direction: column;
    background-color: white;
    justify-items: center;
    gap: 40px;
}

.ran{
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
    color: black;
}

.boxes{
    flex-direction: row;
    justify-items: center;
}

.box{
    background-color: #e5e7eb;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 3px solid #3882f6;
    margin-left: 135px;
}

.text{
    text-align: center;
    color: black;
    width: 200px;
    height: 100px;
    margin-left: 135px;
    margin-bottom: 30px;
}
pre{
    color: #e5e7eb;
}

.tex{
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
}

.three{
    align-items: center;
    background-color: #e5e7eb;
}

.act{
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: row;
    background-color: #3882f6;
    width: 900px;
    height: 100px;
    border-radius: 10px;
    align-items: center;
    margin-left: 10px;
    gap: 210px;
}

.four{
    background-color: white;
    align-items: center;
}
.call{
    padding: 20px;
    margin-left: 20px;
}
.h{
    font-size: 20px;
    color: #f9faf8;
    font-weight: 700;
}

.sign1{
    background-color: #3882f6;
    border-radius: 10px;
    color: #e5e7eb;
    padding: 10px;
    width: 80px;
    height: 25px;
    text-align: center;
    border: 2px solid white;
}

.footer{
    background-color: #1f2937;
    height: 100px;
    justify-content: center;
    align-items: center;
}